img{
    width: 400px;
    
}
#thirdDiv{
    height: 600px;
    width: 500px;
    color:coral;
    padding: 50px;
    margin: 35px;color:bisque;
    display: inline;
    
}
#spanId{
    font-size: 18px;
    margin: 50px;
}  
div{
    text-align: center;
    
}                                                                                   